<!doctype html>
<html>
  <head>
    <title>Jira Dev Tools</title>
    <link rel="stylesheet" type="text/css" href="bower_components/angular/angular-csp.css">
    <style>
      body {
        min-width: 320px;
        overflow-x: hidden;
      }
    </style>
    <link rel="stylesheet" href="bower_components/foundation-essentials/css/normalize.css">
    <link rel="stylesheet" href="bower_components/foundation-essentials/css/foundation.css">
    <script type='text/javascript' src="bower_components/modernizr/modernizr.js"></script>
    <script type='text/javascript' src='bower_components/jquery/dist/jquery.js'></script>
  </head>
  <body ng-csp ng-app='JiraTicketApp'>
    <div ng-controller='JiraTicketController' ng-init='loadTicket()'>
      <div class="small-12 columns">
        <h1>
          Jira Dev Tools
        </h1>
      </div>
      <div ng-if='isJiraTicketPage()' >
        <div class='row'>
          <div class="small-12 columns">
            <textarea class='small-12' ng-copy='js-copy-title'>{{ jiraTicket.id }} {{ jiraTicket.title }}</textarea>
          </div>
          <div class="small-12 columns text-center">
            <button class='small' id='js-copy-title'>Copy Jira Title</button>
          </div>
        </div>
        <div class='row'>
          <div class="small-12 columns">
            <textarea class='small-12' ng-copy='js-copy-branch'>{{ jiraTicket.id }}-{{ jiraTicket.title | brancherize }}</textarea>
          </div>
          <div class="small-12 columns text-center">
            <button class='small' id='js-copy-branch'>Copy Branch Name</button>
          </div>
        </div>
      </div>
      <div class='small-12 columns' ng-if='!isAvailablePage()'>
        <div class="small-12 columns">
          You are at:
          <ul>
            <li>
              {{ activeTabUrl() }}
            </li>
          </ul>
        </div>
        <div class="small-12 columns">
          You need to be in one of the following kind of pages:
          <ul>
            <li ng-repeat='url in availablePages()'>
              {{ url }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='popup.js'></script>
  </body>
</html>
